table {
  border-collapse: collapse;
  width: 100%;
}

th {
  background-color: #4CAF50;
  color: white;
  padding: 8px;
}

td {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #f2f2f2;
}